@page
@model SbNotifierDashboard.Pages.Notification.HistoryPageModel

@{
    ViewData["Title"] = "Notification history";
}

<h1>
    See messages as they flow to devices
</h1>

//TODO: USE SIGNALR to SHOW data as they are sent to device and back


