@page
@model SbNotifierDashboard.Pages.Notification.NotifyPageModel
@{
    ViewData["Title"] = "Notification options";
}

<h1>
    Notification sender
</h1>
<p>
    Enter text or image to send notification to client on below form
</p>