<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="39109bojanv.sbnotifierwin"
    Publisher="CN=2389123F-66AB-4165-95B7-7B050D3AD323"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b099146d-8e44-487d-a0c2-039cc68dc942" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>sbnotifierwin</DisplayName>
    <PublisherDisplayName>bojanv</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SbNotifierUwp.App">
      <uap:VisualElements
        DisplayName="Service Bus Notifier App Sample"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Service Bus Notifier App Sample to demonstrate, how to use notification hub with bridge option"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\24x24.png"/>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks"  EntryPoint="SbNotifierUwp.Tasks.PushNotificationBackgroundTask">
          <BackgroundTasks>
            <Task Type="pushNotification"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>